*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f8f9fa;
}
h2 {
    color: #343a40;
    font-family: cursive;
    font-weight: bolder;
    font-size: 2rem;
}
h1 {
    font-size: 2rem;
    margin-top: 20px;
    transition: font-family 0.3s;
}
#btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 4px 4px black;

}
#btn:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#result div {
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.2s;
}
#result div:hover {
    background-color: #f0f0f0;
}
